/* -------------------------------- 

xIntroduction

-------------------------------- */

@mixin preambleWidthSizes($h3, $p1, $p2, $p3) {
  .preamble h3 {
    font-size: $h3;
  }

  .preamble p:nth-of-type(1) {
    font-size: $p1;
  }

  .preamble p:nth-of-type(2) {
    font-size: $p2;
  }

  .preamble p:nth-of-type(3) {
    font-size: $p3;
  }
}

@mixin preamble($viewport-width) {
  @if $viewport-width == $bp-middle {
    @media (min-width: $bp-middle) {
      @include preambleWidthSizes(0.6vw, 0.9vw, 1.2vw, 1.5vw);
    }
  }
  @else if $viewport-width == $bp-biggest {
    @media (min-width: $bp-biggest) {
      @include preambleWidthSizes(0.4vw, 0.7vw, 1vw, 1.3vw);
    } 
  }
}

.intro {
  order: $top;
  display: flex;
  flex-flow: row wrap;
}

header,
.summary,
.preamble {
  flex: 1;
}

$padding-sm: 1em;

header,
.summary {
  flex: 0 0 $w-big;
  margin-bottom: $mar-sm;
  padding: 0 $padding-sm;
}

$border-sm;

.summary {
  border-width: $border-sm;
  border-color: transparent;
  border-style: solid;
  border-image: linear-gradient(to bottom, $color-1, transparent);
  background-image: linear-gradient(to bottom, black, transparent);
  border-image-slice: 1;
  background-origin: border-box;
  p {
    font-family: Lato;
  }
}

$s-star-default: 300px;

/* shooting star  #1 */
.summary::after {
  content: '';
  position: absolute;
  width: $s-star-default;
  height: $s-start-default;
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 1%, rgba(248,0,255,1) 2%, rgba(239,0,255,0) 4%);
  z-index: 2;
  top: 30;
  left: calc(random(100) / 100);
  animation: shoot 20s ease infinite;
  opacity: 0;
  animation-fill-mode: forwards;
  animation-delay: 8s;
}

/* shooting star #2 */
header::after {
  content: '';
  position: absolute;
  width: $s-star-default;
  height: $s-star-default;
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 1%, rgba(248,0,255,1) 2%, rgba(239,0,255,0) 4%);
  z-index: 2;
  top: 250;
  left: calc(random(100) / 100);
  animation: shoot-again 20s ease infinite;
  opacity: 0;
  animation-fill-mode: forwards;
  animation-delay: 5s;
}

.preamble::after {
  content: '';
  position: absolute;
  width: $s-star-default;
  height: $s-star-default;
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 1%, rgba(248,0,255,1) 2%, rgba(239,0,255,0) 4%);
  z-index: 2;
  top: 150;
  left: calc(random(100) / 100);
  animation: shoot-again-again 20s ease infinite;
  opacity: 0;
  animation-fill-mode: forwards;
  animation-delay: 2s;
}

$font-sm: 1.6vw;

.summary p:nth-of-type(1) {
  color: $color-3;
  font-size: $font-sm;
}

.summary p:nth-of-type(2) {
  color: $color-2;
  font-size: $font-sm;
  margin-top: -1.8%;
  a {
    text-decoration: none;
    color: $color-2;
  }
}

$mar-intro-pre: 3em;

.preamble {
  margin-top: $mar-intro-pre;
  margin-bottom: $mar-intro-pre;
  flex: 0 0 $w-big;
  text-align: start;
  h3 {
    margin: 0 5% 0 84%;
    font-size: 0.8vw;
    text-align: right;
    background: linear-gradient(180deg, rgba(153, 153, 153, 0.26) 0%, rgba(137, 137, 137, 0) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  p:nth-of-type(1) {
    margin: 0 10% 0 50%;
    font-size: 1.1vw;
    background: linear-gradient(180deg, rgba(137, 137, 137, 0) 0%, #6C6C6C 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
  }
  p:nth-of-type(2) {
    margin: 0 20% 0 25%;
    font-size: 1.4vw;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.31) 0%, #9A9A9A 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
  }
  p:nth-of-type(3) {
    margin: 0 36% 0 0;
    font-size: 1.7vw;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.47) 0%, #FFFEFE 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
  }
}

$font-lg: 11vw;

[role=banner] {
  h1 {
    font-family: Saira;
    font-weight: 600; /* SEMI BOLD */
    color: $color-7;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    text-align: right;
    margin: auto;
    position: relative;
    font-size: $font-lg;
  }
  h1::after {
    content: "";
    position: absolute;
    width: calc(100vw - 36px);
    height: 60%;
    top: 20%;
    margin-left: -16px;
    left: 0;
    outline: 3px solid $color-1;
    border-radius: 2px;
  }
  h2 {
    font-family: Lato;
    font-size: 1.9vw;
    letter-spacing: 0.93em;
    font-weight: 900;
    color: $color-7;
    text-align: right;
    margin-top: -3.4%;
    margin-right: -0.9%;
    margin-bottom: 1.5%;
    z-index: 1;
  }
}


@include MQ(M) {
  header,
  .summary {
    margin-bottom: $mar-sm;
    p:nth-of-type(1) {
      font-size: 14px;
    }
    p:nth-of-type(2) {
      font-size: 14px;
      margin-top: -1.5vh;
    }
  }

  .preamble {
    flex: 0 0 $w-big;
    text-align: end;
    h3 {
      margin-left: 0.5%;
      text-align: left;
    }
    p:nth-of-type(1) {
      margin: 0 56% 0 4%;
    }
    p:nth-of-type(2) {
      margin: 0 25% 0 20%;
    }
    p:nth-of-type(3) {
      margin: 0 0 0 36%;
    }
  }
  
  [role=banner] {
    h1 {
      font-size: 5.875em;
    }
    h1::after {
      width: 104.1%;
      height: 60%;
      top: 30px;
      margin-left: -2%;
    }
    h2 {
      font-family: Lato;
      font-size: 1em;
      letter-spacing: 0.93em;
      font-weight: 900;
      color: $color-7;
      text-align: right;
      margin-top: -28px;
      margin-right: -7px;
      margin-bottom: 15px;
      z-index: 1;
    }
  }
}

@keyframes shoot {
  0% { opacity: 0; }
  9% { opacity: 0; }
  10% {
    transform: translate((random(100)/100) * -100%, (random(100)/100) * 100%);
    opacity: 1;
  }
  12% {
    transform: translate((random(100)/100) * -100%, (random(100)/100) * 100%);
    opacity: 0;
  }
  45% {
    transform: translate((random(100)/100) * 100%, (random(100)/100) * -100%);
    opacity: 0;
  }
  46% { 
    transform: translate((random(100)/100) * 100%, (random(100)/100) * -100%);
    opacity: 1;
  }
  47% {
    opacity: 0;
  }
  89% { 
    transform: translate((random(100)/100) * -100%, (random(100)/100) * 100%);
    opacity: 0; 
  }
  90% {
    transform: translate((random(100)/100) * -100%, (random(100)/100) * 100%);
    opacity: 1;
  }
  91% { opacity: 0; }
}
@keyframes shoot-again {
  0% { opacity: 0; }
  9% { opacity: 0; }
  10% {
    transform: translate((random(100)/100) * -100%, (random(100)/100) * 100%);
    opacity: 1;
  }
  12% {
    transform: translate((random(100)/100) * -100%, (random(100)/100) * 100%);
    opacity: 0;
  }
  45% {
    transform: translate((random(100)/100) * 100%, (random(100)/100) * -100%);
    opacity: 0;
  }
  46% { 
    transform: translate((random(100)/100) * 100%, (random(100)/100) * -100%);
    opacity: 1;
  }
  47% {
    opacity: 0;
  }
  89% { 
    transform: translate((random(100)/100) * -100%, (random(100)/100) * 100%);
    opacity: 0; 
  }
  90% {
    transform: translate((random(100)/100) * -100%, (random(100)/100) * 100%);
    opacity: 1;
  }
  91% { opacity: 0; }
}
@keyframes shoot-again-again {
  0% { opacity: 0; }
  9% { opacity: 0; }
  10% {
    transform: translate((random(100)/100) * -100%, (random(100)/100) * 100%);
    opacity: 1;
  }
  12% {
    transform: translate((random(100)/100) * -100%, (random(100)/100) * 100%);
    opacity: 0;
  }
  45% {
    transform: translate((random(100)/100) * 100%, (random(100)/100) * -100%);
    opacity: 0;
  }
  46% { 
    transform: translate((random(100)/100) * 100%, (random(100)/100) * -100%);
    opacity: 1;
  }
  47% {
    opacity: 0;
  }
  89% { 
    transform: translate((random(100)/100) * -100%, (random(100)/100) * 100%);
    opacity: 0; 
  }
  90% {
    transform: translate((random(100)/100) * -100%, (random(100)/100) * 100%);
    opacity: 1;
  }
  91% { opacity: 0; }
}

@include preamble($bp-middle);
@include preamble($bp-biggest);
