/* -------------------------------- 

xLayout

-------------------------------- */

// breakpoints

$bp-main: 52em;
$bp-middle: 80em;
$bp-biggest: 100em;
$M: $bp-main;

// media queries

@mixin MQ($canvas) {
  @if $canvas == M {
   @media (min-width: $M) { @content; } 
  }
}
