/* -------------------------------- 

xMain

-------------------------------- */

.main {
  order: $bottom;
  z-index: 101;
}

.explanation,
.participation,
.benefits,
.requirements {
  outline: 1px solid black;
  padding: 1em;
}
.explanation{
  background-color: rgba(21, 47, 74, 0.69);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.participation{
  background-color: rgba(0, 0, 0, 0.4);
}
.benefits{
  background-color: rgba(193, 222, 219, 0.20);
}
.requirements{
  background-color: rgba(160, 51, 45, 0.25);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.explanation h3, .benefits h3, .requirements h3, .participation h3{
  font-size: 18px;
  color: $color-7;
}
.explanation p, .benefits p, .requirements p, .participation p{
  color: $color-7;
}
.participation a{
  color: white;
}

footer a {
  margin: 0 1.5em;
}

@include MQ(M) {
  .main {
    width: $w-middle;
  }
}
