/* -------------------------------- 

xNav

-------------------------------- */

.sidebar {
  order: $middle;
  z-index: 100;
}

.wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-bottom: 10px;
}

.design-archives {
  text-align: center;
}

.zen-resources {
  text-align: right;
}

.select,
.archives,
.resources {
  margin: 0;
  color: $color-3;
  font: $primary-font;
  opacity: .7;
  transition: opacity 300ms ease-in;

  &:hover {
    opacity: 1;
  }
}

.design-selection,
.design-archives,
.zen-resources {
  width: 33.3%;
  margin-top: -3vh;
  flex-grow: 1;
  max-height: 0;
  transition: max-height 500ms ease-out;
}

.design-selection:hover,
.design-archives:hover,
.zen-resources:hover{
  max-height: 500px;
  transition: max-height 500ms ease-in;
}

.design-selection > nav,
.design-archives > nav,
.zen-resources > ul {
  visibility: hidden;
  transition: all 0.5s linear;
  opacity: 0;
  margin-bottom: -17vh;

  & li, a:link {
    color: $color-7;
    transition: color 100ms ease-in;
    text-decoration: none;
  } 
}

.select:hover + nav,
.archives:hover + nav,
.resources:hover + ul {
  visibility: visible;
  opacity: 1;
  margin-bottom: 10px;
}

.design-selection > nav:hover,
.design-archives > nav:hover,
.zen-resources > ul:hover {
  visibility: visible;
  opacity: 1;
  margin-bottom: 10px;

  display: block;
  & a:hover {
    color: $color-1;
  }
}

@include MQ(M) {
  .sidebar {
    width: $w-sm;
  }

  .wrapper {
    width: $w-big;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .design-archives,
  .zen-resources {
    text-align: left;
  }

  .select,
  .archives,
  .resources {
    margin: 5px 0;
  }

  .design-selection,
  .design-archives,
  .zen-resources {
    max-height: 500px;
    margin-top: 0;
    width: $w-big;
  }

  .design-selection > nav,
  .design-archives > nav,
  .zen-resources > ul {
    visibility: visible;
    display: block;
    opacity: 1;
    margin-bottom: 0;
  }

  .select:hover + nav,
  .archives:hover + nav,
  .resources:hover + ul {
    display: block;
    opacity: 1;
    margin-bottom: 0;
  }

  .design-selection > nav:hover,
  .design-archives > nav:hover,
  .zen-resources > ul:hover {
    margin-bottom: 0;
  }
}
