body {
  box-sizing: border-box;
  margin: auto;
  max-width: 600px;
}

.page-wrapper {
  display: flex;
  flex-flow: row wrap;
  width: 800px;
  height: 100%;
}

.intro,
.main,
.sidebar {
  width: 100%;
}

.intro {
  order: 1;
}

.main {
  order: 3;
}

.sidebar {
  order: 2;
}

/* Mobile first; Desktop last */
@media (min-width: 52em) {
  .main {
    width: 62.5%;
  }

  .sidebar {
    width: 37.5%;
  }
}
