* {
  box-sizing: border-box;
}

body {
  margin: auto;
  width: 100%;
  max-width: 52em;
}

.page-wrapper {
  display: flex;
  flex-flow: row wrap;
  height: 100%;
  margin: 0.5em;
}

.intro,
.main,
.sidebar {
  width: 100%;
}

.intro {
  order: 1;
  display: flex;
  flex-flow: row wrap;
}

header,
.summary,
.preamble {
  flex: 1;
}

header,
.summary {
  flex: 0 0 100%;
  outline: 1px solid black;
  margin-bottom: 0.5em;
  padding: 0 1em;
}

.preamble {
  margin-top: 1em;
  flex: 0 0 100%;
  text-align: start;
}

.preamble h3 {
  margin: 0 5% 0 84%;
  font-size: 0.8vw;
  text-align: right;
}

.preamble p:nth-of-type(1) {
  margin: 0 10% 0 50%;
  font-size: 1.1vw;
}

.preamble p:nth-of-type(2) {
  margin: 0 20% 0 25%;
  font-size: 1.4vw;
}

.preamble p:nth-of-type(3) {
  margin: 0 36% 0 0;
  font-size: 1.7vw;
}

.main {
  order: 3;
}

.sidebar {
  order: 2;
}

/* Mobile first; Desktop last */
@media (min-width: 52em) {
  .main {
    width: 62.5%;
  }

  .sidebar {
    width: 37.5%;
  }

  header,
  .summary {
    margin-bottom: 0.5em;
  }

  .preamble {
    flex: 0 0 100%;
    text-align: end;
  }

  .preamble h3 {
    margin-left: 0.5%;
    text-align: left;
  }

  .preamble p:nth-of-type(1) {
    margin: 0 56% 0 4%;
  }

  .preamble p:nth-of-type(2) {
    margin: 0 25% 0 20%;
  }

  .preamble p:nth-of-type(3) {
    margin: 0 0 0 36%;
  }
}

@media (min-width: 80em) {
  .preamble h3 {
    font-size: 0.6vw;
  }

  .preamble p:nth-of-type(1) {
    font-size: 0.9vw;
  }

  .preamble p:nth-of-type(2) {
    font-size: 1.2vw;
  }

  .preamble p:nth-of-type(3) {
    font-size: 1.5vw;
  }
}

@media (min-width: 100em) {
  .preamble h3 {
    font-size: 0.4vw;
  }

  .preamble p:nth-of-type(1) {
    font-size: 0.7vw;
  }

  .preamble p:nth-of-type(2) {
    font-size: 1vw;
  }

  .preamble p:nth-of-type(3) {
    font-size: 1.3vw;
  }
}
