body {
	box-sizing: border-box;
}

.page-wrapper {
	display: flex;
	flex-flow: row wrap;
	width: 800px;
	height: 100%;
}

.intro {
	width: 100%;
	order: 1;
}

.main {
	width: 62.5%;
	float: left;
	font-size: 5vw;
	order: 3;
}

.sidebar {
	width: 37.5%;
	order: 2;
}
/*
Comment
*/

@media (min-width: 400px) {
	.intro {
	    width: 100%;
	}

    .main {
	    width: 100%;
		font-size: 5vw;
		display: grid;
		float: left;
    }

	.sidebar {
		width: 100%;
	}
}
