// import google fonts
@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Saira:wght@700&family=Zilla+Slab:wght@300&display=swap'); // primary
@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Saira:wght@700&display=swap'); // secondary font
@import url('https://fonts.googleapis.com/css2?family=Saira:wght@700&display=swap'); // tertiary font

// color palette - these colors will be the color swatches of the Colors section

$color-1: #AF4EA7; // Space Purple
$color-2: #844356; // Maroon
$color-3: #F9A7FF; // Pink
$color-4: #C1DEDB; // turquoise
$color-5: #152F4A; // Midnight blue
$color-6: #000000; // black
$color-7: #ffffff; // white
$color-8: #A0332D; // Blood red
$color-9: #FFEAB7; // yellow

// fonts
$primary-font: 'Zilla Slab', serif;
$secondary-font: 'Saira', sans-serif;
$tertiary-font: 'Lato', sans-serif;

// other variables
$mar-sm: 0.5em;
$top: 1;
$middle: 2;
$bottom: 3;
$w-big: 100%;
$w-middle: 62.5%;
$w-sm: 37.5%;
