.cd-box {
  /* this is the container of various design elements - i.e. the 2 logo of the branding section */
  border: 1px solid $color-7;
  border-radius: 3px;
  background: lighten($color-5, 5%);
  box-shadow: 0 1px 1px rgba(#000, 0.05);
  padding: 6px;
}

.cd-wireframes .cd-box {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 3em;
  figcaption {
    color: $color-7;
  }
}